body {
	color: #000;
    font-family: 'Roboto Slab', 'Open Sans';
    background-color: #fff;
    width: 100%;
    margin: 0;
}

.app {
	color: #fff!important;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    position: relative;
    -webkit-gradient(linear, left top, left bottom, from(#151531), to(#421a92)): ;
    background: linear-gradient(to bottom, #151531 0%, #421a92 100%);
}

canvas {
  display: block;
  vertical-align: bottom;
}

#wrapper {
	position: absolute;
	width: 100%;
    min-height: 100vh;
}

.card {
	width: 50%;
	margin: 0 auto;
	margin-top: 100px;
	background-color: rgba(0,0,0,0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	padding: 2rem 1rem;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 5%;
}

.footer p {
	font-size: 1rem;
	text-align: center;
}

.love {
	font-size: 1.5rem;
	color: #EC4899;
}

.img-header {
	margin-top: -50px;
}

.img-header img {
	border: 5px solid rgba(0,0,0,0.25);
}

.planet {
	position: absolute;
}

.planet1 {
	width: 20%;
	top: 8%;
	left: 3%;
}

.planet2 {
	width: 20%;
	top: 15%;
	right: 2%;
}

.planet4 {
	width: 20%;
	top: 50%;
	right: 30%;
}

.planet5 {
	width: 20%;
	top: 10%;
	left: 40%;
}

.planet6 {
	width: 20%;
	top: 50%;
	left: 10%;
}

.planet img {
	width: 100%;
}

.list-link {
	position: relative;
	width: 100%;
}

.list-link a {
	width: 100%;
	display: block;
}

.btn-link {

}

.title {
	font-size: 1.75rem;
	text-align: center;
}

.text-intro {
	font-size: .85rem;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) { 
	.title {
		font-size: 1.5rem;
	}

	.card {
		width: 75%;
		margin: 0 auto;
		margin-top: 100px;
		background-color: rgba(0,0,0,0.25);
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 10px;
		padding-bottom: 15px;
	}

}

@media (max-width: 768px) { 
	.title {
		font-size: 1.25rem;
	}

	.text-intro {
		font-size: .85rem;
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.footer p {
		font-size: 0.85rem;
		text-align: center;
	}

	.love {
		font-size: 1rem;
		color: #EC4899;
	}

}